<!-- условие ? выражение1 : выражение2 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    </style>
  </head>
  <body>
    <h1><%= product ? "Edit" : "Create" %> Product</h1>

    <% if (typeof error != "undefined" && error) { %>

    <div><%= error %></div>

    <% } %>
    <form action="<%= product ? `/admin/products/${product.id}/edit`: '/admin/products/create' %>" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="Title" name="title" required value="<%= product ? product.title : ''%>">
        <textarea name="description" placeholder="Description"><%= product ? product.description : '' %></textarea>
        <input type="number" name="price" placeholder="Price" required value="<%= product ? product.price : '' %>">
        <textarea name="characteristics" placeholder="Brand: BOSS,Water Resistant: 200m,Movement: Automatic,Dial Colour: Green,Case Material: Stainless Steel, Bracelet/Strap Material: Leather, Diameter: 39.5mm"><%= product ? product.characteristics : '' %></textarea>
        <!-- Added "name="image" -->
        <input type="file" name="image" accept="image/*">
        <% if (product && product.image){%> 
            <img src="<%=product.image %>" alt="">
            <%}%>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
