<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.title%></title>
  </head>
  <style>
    body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
</style>
  <body>

    <%
    const formatCharacteristics= (str) =>{
        return str.split(",").map( (item) => {
            const [key,...rest] = item.split(":")
            return `<strong>${key.trim()}:</strong> ${rest.join(":").trim()}`
        })
        .join("<br>")
    }
     %>

     <div class="product-detail-container">
    <img class="product-image" src="<%=product.image%>" alt="" width="150px" />
    <h2 class="product-title"><%=product.title%></h2>

    <span class="product-price">£<%=product.price%></span>

    <div class="product-actions">
      <a class="view" href="/products/<%=product.id %>"></a>
      <button class="heart-btn">
          <img src="/images/heart.svg" alt="">
      </button>
      <button class="basket-btn">
        <img src="/images/cart.svg" alt="">
      </button>
    </div>

    <p class="product-characteristics" title="<%=product.characteristics%>"><%-formatCharacteristics(product.characteristics) %></p>
    <p class="product-description" title="<%=product.description%>"><%=product.description%></p>

    </div>
  </body>
</html>
